    html,body{
    background-color: #e6eff6 !important;
    margin-top: 0;
    height: 100%;
}
footer{
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 5px;
}
.hover_drop_down.input-group-btn ul.dropdown-menu{
    margin-top: 0px;/* evitar que se cierre el submenu */
}
.hover_drop_down.btn-group ul.dropdown-menu{
    margin-top:0px;/* Espacio entre el menu y submenu */
}
.hover_drop_down:hover ul.dropdown-menu{
    display: block;/* despliega el submenu son hacer click */
}
.center{margin:auto;}
.imagen-carousel{
    height: 400px !important;
    border-radius: 30px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.panel1{
    padding-bottom: 20px;
    padding-top: 20px;
}
.panel2{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 0 5px 5px grey;
}
.panel3{
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 0 5px 5px grey;
}
.panel4{
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 0 5px 5px grey;
}
.panel5{
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 0 5px 5px grey;
}
.panel6{
    padding-bottom: 20px;
    padding-top: 20px;
}
.texto-post{
    padding-left: 35px;
    padding-right: 35px;
}
.btn{
    border-radius: 30px;
}
.imagen{
    height: 400px !important;
    border-radius: 30px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mapa{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.blog-post{
    padding-top: 10px;
    padding-bottom: 35px;
}
.navbar{
    margin-top: -20px;
    margin-bottom: -20px
}